@font-face {
  font-family: 'Lazy Dark Demo';
  src: url('/fonts/LazyDarkDemo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neulis Sans';
  src: url('/fonts/Neulis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neulis Sans';
  src: url('/fonts/Neulis-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
